<!DOCTYPE html>
<html ng-app="todoApp">
  <head >
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/todoController.js"></script>
    <title></title>
  </head>
  <body>
    <div ng-controller="TodoController as todoCtrl" >
      <form>
        <label>Title</label>
        <input type="text" ng-model="todoCtrl.newTodo.title">
        <label>Content</label>
        <input type="textarea" ng-model="todoCtrl.newTodo.content">
        <input type="submit" ng-click="todoCtrl.addTodo()">
      </form>

      <ul>
        <li ng-repeat="todo in todoCtrl.todos">
          {{todo.title}}
        </li>
      </ul>
    </div>
  </body>
</html>
